/* Global Styles */

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  }

img {
    max-width: 100%;
    display: block;
  }

  button {
    cursor: pointer;
  }

  .container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
  }

  :root {
    --black: #000;
    --dark:#141A20;
    --marine:#00A4E5;
    --grey:#48555B;
    --light-grey:#E6E6E6;
    --white:white;
  }

  main,footer {
    font-family: 'Open Sans';
    color: var(--grey);
  }

  /*HEADER*/

  .header {
      background:url('../images/roof.png');
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
      width:100%;
      color:var(--white);
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: 'BebasNeueBold';
  }

  .header__projeco-logo {
    letter-spacing:normal;
    font-size: 24px;
    margin-top: 40px;
    font-weight: bold;
    margin-bottom: 340px;
  }

  .header__triangle {
    color:var(--marine);
    font-size: 24px;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.3);
  }

  .header__designation {
   margin-bottom: 300px;
  }
  
  .header__title {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5.70937px;
  }

  .header__meaning {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }

  .header__scroll {
    margin-bottom: 70px;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 3.700000047683716px;
  }

  @media screen and (max-width:1360px) {
    body {width: calc(1200px +5%);
    }

  }

  @media screen and (max-width:768px) {
    .header__projeco-logo {
      margin-top: 70px;
    }
    
  }

  @media screen and (max-width:500px) {

    .header__projeco-logo {
      font-size: 18px;
      margin-top: 70px;
      margin-bottom: 200px;
    }

    .header__triangle {
      font-size: 20px;
    }

    .header__designation {
      margin-bottom: 200px;
     }

     .header__title {
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 4.70937px;
    }
    
  }

  /*END HEADER*/
  
  /*NAVBAR*/

  .navbar--background-color {
    background-color:var(--white);
  }

  .navbar__container {
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
  }

  .navbar__logo--leterrs-disign {
    letter-spacing:normal;
    font-size: 20px;
    font-weight: bold;
  }

  .navbar__triangle {
    color:var(--marine);
    font-size: 20px;
  }

  .navbar__list {
    display:flex;
    flex-direction: row;
    list-style:none;
  }

  .navbar__item:not(:last-child) {
   margin-right: 40px;
  }

  .navbar__item--font-style {
    font-size: 18px;
  }

  .navbar__link {
    text-decoration:none;
    color:var(--grey);
  }

  .navbar__link:hover {
    color: var(--marine);
  }

  .navbar__line {
    margin-top:0px;
    margin-bottom: 40px;
    border: none;
    color:var(--light-grey); 
    background-color:var(--light-grey); 
    height: 2px; 
  }
  
  .navbar-fixed__container {
    display:none;
  }
  @media screen and (max-width:768px) {
    .navbar__container {
      display:none;
    }

    .navbar-fixed, .navbar-fixed--background-color {
      width: 100%;
      position: fixed;
      z-index: 999;
      background: white;
      top: 0;
    }

    .navbar-fixed__container {
      display: flex;
      align-items: center;
      height: 50px;
    }

 .navbar-fixed__navbar-logo {
   margin-top: 10px;
 }

  .menu__btn,#menu__toggle {
    display: flex;
    align-items: center;
    position: fixed;
    top: 15px;
    right: 45px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 9999;
    }

    /* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;
width: 100%;
height: 2px;
background-color: #616161;
}
.menu__btn > span::before {
content: '';
top: -8px;
}
.menu__btn > span::after {
content: '';
top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
  }
  /*END NAVBAR*/


   /*ABOUT*/

   .information-about {
    margin-bottom: 100px;
   }

  .information-about__title{
    text-align: center;
  }
  
  .information-about__title--title-style {
    color:var(--grey);
    font-size: 18px;
  }

  .information-about__line{

    width:50px;
    margin-bottom: 80px;
    border-width: 1px;
    border-color:var(--marine);
    background: var(--marine);

  }

  .information-about__history-title {
    width:350px;
    height: 85px;
    margin-bottom: 60px;
  }

  .infomation-about__container {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }

  .information-about__container >* {
    flex-grow: 1;
   
  }

  .information-about__history {
    font-style: bold;
    font-size: 20px;
    line-height: 27px;
    vertical-align: bottom;
    width:50%;
  }

  .information-about--konstruct-item-color {
    color: var(--marine);
    
  }

  .information-about__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    width: 400px;
    height: 115px;
  }
  
  .information-about__container-for-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 40%;
  }



  .information-about__image--style-for-image-for-plan {
    background-image: url('../images/plan.png');
    width:140px;
    height: 225px;
    background-position:left 170px top -18px;
  }

  .information-about__image--style-for-image-for-manage {
    background-image: url('../images/manage.png');
    width:140px;
    height: 225px;
    background-position: center;
  }

  .information-about__image--style-for-image-for-build {
    background-image: url('../images/build.png');
    width:140px;
    height: 225px;
    background-position: left -59px top;
  }

  .information-about__tagline {
    color:var(--white);
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    margin-left: 10px;
    margin-top: 15px;
    letter-spacing: 0.1875px;

  }

  @media screen  and (max-width:990px) {
    .infomation-about__container {
      display:block;
      text-align: center;
    }
    .information-about__history {
      width:100%;
      margin-bottom:0px;
    }
    .information-about__history-title {
      width:100%;
      margin-bottom: 0px;
    }

    .information-about__text {
      width: 100%;
    }
      
  .information-about__container-for-images {
    width: 100%;
  }
    
  }

  @media screen  and (max-width:730px) {


    .information-about__history-title {
      height: 85px;
      text-align: center;
      margin-bottom: 20px;
    }

  }

  @media screen  and (max-width:500px) {

    .information-about__history-title {
      width:100%;
      height: 85px;
      text-align: center;
      margin-bottom: 40px;
    }

    .information-about__image--style-for-image-for-plan {
      background-image: url('../images/plan.png');
      width:80px;
      height: 160px;
      background-position:center;
    }
  
    .information-about__image--style-for-image-for-manage {
      background-image: url('../images/manage.png');
      width:80px;
      height: 160px;
      background-position: center;
    }
  
    .information-about__image--style-for-image-for-build {
      background-image: url('../images/build.png');
      width:80px;
      height: 160px;
      background-position: left -59px top;
    }

    .information-about__tagline {
      font-size: 14px;
      line-height: 20px;
      padding-top: 10px;
      text-align: left;
  
    }

    .information-about__history {
      margin-bottom: 40px;
    }

    @media screen  and (max-width:300px) {

      .information-about__history {
        margin-bottom: 90px;
      }

      .information-about__history-title {
        margin-bottom: 90px;
      }
    }

    
  
  
  }

 /* END ABOUT*/

 /*SERVICES*/
.services {
  margin-bottom: 115px;
}

 .services__cap-container{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 80px;
   color:var(--grey);
  
 }

 .services__cap-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.30625px;
 
 }

 .services__cap-line {
  width:50px;
  padding-left: 0px;
  margin:0px;
  margin-top: 10px;
  border-width: 1px;
  border-color:var(--marine);
  background: var(--marine);
 }

 .services__cap-text {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  width: 405px;
  height: auto;
 }

 .services__cap-button--disign {
  background-color:var(--marine); /* Green */
  border: none;
  color: white;
  padding: 11px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
 }

 .services__service-items {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
  
 }

 .services__service {
   display:flex;
   flex-direction: column;
   justify-content: space-around;
   width: 295px;
   height: 330px;
   border-style: solid;
   border-color:var(--light-grey); 
   border-width:1px;
   margin-bottom: 15px;
   padding: 25px 40px;
 }

 
 .services__charter {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.426667px;
  
 }

 .services__information-about-charter {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px; 
 }

 @media screen and (max-width:990px) {
  .services__cap-container {
    display: block;
    text-align: center;
  }

  .services__cap-title {
    margin-bottom: 30px;
  }

  .services__cap-line {
    margin-left: auto;
    margin-right: auto;
  }

 

  .services__cap-text {
    width:100%;
    margin-bottom: 30px;
    
  }
   
 }

 @media screen and (max-width:768px) {
   .services__service-items {
     display: block;
   }

   .services__service {
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 30px;;

   }

   .services__service {
    width: 90%;
    height:auto;
  }

  .services__icon {
    margin-bottom: 15px;
  }

  .services__charter {
    margin-bottom: 15px;
  }

 
 }

 /*END SERVICES*/


 /*GET IN TOUCH*/

 .get-in-touch {

   background:var(--light-grey) url('../images/grey_town.png');
   background-repeat: no-repeat;
   background-size:cover;
   height: 500px;
 }

 .get-in-touch__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
 }



 .get-in-touch__question {
   margin-top: 120px;
   margin-bottom:45px;
   font-style: normal;
   font-weight: bold;
   font-size: 30px;
   line-height: 36px;
   letter-spacing: 0.15px;
   text-align: center;
   
 }

 .get-in-touch__button {
   background-color:var(--marine); 
   border: none;
   color: white;
   padding: 11px 26px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-weight: normal;
   font-size: 13px;
   line-height: 17px;
   text-align: center;
   letter-spacing: 0.5px;
 }

 @media screen and (max-width:640px) {
  .get-in-touch__question {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.15px;
    
  }
 }

 @media screen and (max-width:440px) {
  .get-in-touch__question {
   
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    
  }
 }

 
 @media screen and (max-width:355px) {
  .get-in-touch__question {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.15px;
    
  }

  .get-in-touch__button {
    padding: 5px 15px;
    font-size: 10px;
  }

 }

  /*END GET IN TOUCH*/

 /*NEWSLETTER*/

 .newsletter {
  background:var(--dark);
  color: var(--white);
 }

 .newsletter__container {
   display:flex;
   justify-content: space-around;
   margin:35px 0px 75px 0px;
 }

 .newsletter__sign-up {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.846154px;
  
 }

 .newsletter__container-for-form {
   display: inline-flex;
 }

 .newsletter__form--style-form {
  width:250px;
  height: 40px;

 }

 .newsletter__button {
   background-color:var(--marine); 
   border: none;
   color: white;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-weight: normal;
   font-size: 13px;
   line-height: 18px;
   text-align: center;
   letter-spacing: 0.5px;
   width:150px;
   height: 40px;

 }

 .form-control {
  -webkit-appearance: none;
  border-radius:0px !important;
}

@media screen and (max-width:768px) {
  .newsletter__container {
    display:block;
    text-align: center;
  
  }

  .newsletter__sign-up {
    text-align: center;
    margin-bottom:15px ;
  }
}

@media screen and (max-width:440px) {
  .newsletter__form--style-form {
    width:170px;
    height: 30px;
   }

   
 .newsletter__button {
  width:80px;
  height: 30px;
}
}

 /*END NEWSLETTER*/

 /*FOOTER*/

 .footer {
   background:var(--dark);
   height: auto;
   color:var(--white);
 
 }

 .footer__container {
   display:flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 70px;

 }

 .footer__company {
   display: flex;
   flex-direction: column;
 }


 .footer__title-s {
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.846154px;
  margin-bottom: 20px;
  
 }

 .footer__logo-disign {
   font-size: 18px;
   margin-bottom: 20px;
   
 }

 .footer__triangle {
   color: var(--marine);
   font-size: 19px;
 }

 .footer__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
  width: 250px;
  height: auto;
  margin-bottom: 20px;
  
 }

 .footer__links {
   display:flex;
   justify-content: space-between;
   font-style: normal;
   font-weight: 600;
   font-size: 11px;
   line-height: 25px;
   letter-spacing: 0.846154px;
 }

 .footer__links-title {
  text-align: left;
 }

 .footer__links--title-s {
   text-align: left;
   
 }

 .footer__items {
   list-style: none;

 }

 #footer__item2,#footer__item3{
  margin-left: 20px;
}

 .footer__list-position {
    margin-top:50px;
 }

 .footer__link {
   color:var(--white);
 }

 .footer__link:hover {
   cursor: pointer;
   color:var(--marine);
   text-decoration: none;
   transition: 0.5s;
 }

 .footer__socials-link {
  cursor: pointer;
  color:var(--marine);
  text-decoration: none;
  transition: 0.5s;
 }

 .footer__contacts-title {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.846154px;
  
 }

 .footer__contacts-container {
   margin-top:15px;
   width: 140px;
   height: auto;
 }

 .footer__contacts-tel, .footer__contacts-email {
   color:var(--white);
 }

 .footer__socials {
   display:inline-block;

 }

 .footer__socials-item {
   list-style: none;
   color:var(--white);
   display: inline;
 }

 .footer__socials-item:not(:last-child) {
   padding-right: 25px;
 }

 .footer__socials-link {
  color:var(--white);
 }

 #footer__item2, #footer__item,#footer__item3 {
  padding-inline-start:0px;
}


 @media screen and (max-width:1024px) {

  .footer__container {
    display:flex;
    flex-direction: column;
  }

  .footer__company {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .footer__links {
   flex-flow: wrap;
   margin-bottom: 20px;
  }
  .footer__links-title {
   text-align: center;
  }

  
 .footer__links--title-s {
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}

.footer__list {
  margin-left: auto;
    margin-right:auto; 
    text-align: center;
}

.footer__item {
  margin-left: auto;
  margin-right:auto; 
  text-align: center;
  padding-inline-start:0px;
}

.footer__contacts {
  margin-left: auto;
  margin-right:auto ;
  text-align: center;
}

.footer__socials {
  text-align: center;
  margin-left: auto;
  margin-right:auto ;
}

.footer__contacts {
  margin-bottom: 20px;
}
#footer__socials-items {
  padding-inline-start: 0px;
}

.copyright__item {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

 }



 /*END FOOTER*/


  /*COPYRIGHT*/
  .copyright {
    display:flex; 
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.846154px;
    background:var(--dark);
    color: var(--white);
   
    
  }

  .copyright__item {
    margin-bottom: 20px;
    background:var(--dark);
  
  }
  /*END COPYRIGHT*/